html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

.wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}

.rotate {
    transform: rotate(-30deg);
    transition: .4s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .4s;
}

.waterdrop {
    width: 20px;
    visibility: hidden;
    position: relative;
    bottom: 20%;
    left: 40%;
}

.waterdrop:not(:last-child){
    margin-bottom: 1rem ;
    margin-left: 30px;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
    z-index: 1;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
