html {
    height: 100%;
}  

body {
    margin: 0px;
    height: 100%;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
    background-color: #c2d2ff;
    -webkit-transition: 5s;
    transition: 5s;
}

#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
    z-index:2;
}

#bat {
    height: 200px;
    width: auto;
    position: absolute;
    z-index:2;
}

.wateringcan {
    width: 200px;
    position: relative;
    left: 40%;
    top: 50%;
}

.pinwheel {
    width: 200px;
    position: absolute;
    top: 60%;
    right: 7%;
    z-index: 1;
}

.stick {
    width: 60px;
    height: 25%;
    position: fixed;
    bottom: 20px;
    right:  10.7%;
}

.rotate {
    transform: rotate(-30deg);
    transition: .4s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .4s;
}

.waterdrop {
    width: 18px;
    display: none;
    position: relative;
    top: 45%;
}

.waterdrop:not(:last-child){
    margin-left: 2px;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
    z-index: 2;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
}